@charset "UTF-8";
@font-face {
  font-family: "Exo";
  src: url(../fonts/Exo2-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Exo";
  src: url(../fonts/Exo2-Bold.otf);
  font-weight: 700;
}

body {
  margin: 0;
}

.cyber {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  font-family: "Exo", sans-serif;
  margin-left: 185px;
  background-color: #00061b;
}

@media (max-width: 1023px) {
  .cyber {
    margin-left: 0;
  }
}

.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1440px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

.title {
  margin-bottom: 60px;
  color: white;
  font-size: 50px;
  font-size: calc(35px + (50 - 35) * ((100vw - 320px) / (1920 - 320)));
  line-height: 115%;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: -3px 2px 0px #05b411, -5px 1px 0px #0d1ac7, 2px -1px 0px #b80510;
  letter-spacing: 0.05em;
}

.title1 {
  color: #ff238b;
  font-size: calc(25px + (36 - 25) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(30px + (43 - 30) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 700;
  margin: 0;
}

@media (min-width: 2560px) {
  .title1 {
    font-size: calc(34px + (55 - 34) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(33px + (70 - 33) * ((100vw - 320px) / (1920 - 320)));
  }
}

.subtitle {
  color: #ff238b;
  font-size: calc(23px + (32 - 23) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(30px + (38 - 30) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}

@media (min-width: 2560px) {
  .subtitle {
    font-size: calc(34px + (47 - 34) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(33px + (60 - 33) * ((100vw - 320px) / (1920 - 320)));
  }
}

.text {
  font-family: "Exo", sans-serif;
  font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1920 - 320)));
  line-height: 34px;
  color: #fff;
  font-weight: 400;
}

@media (min-width: 2560px) {
  .text {
    font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(20px + (45 - 20) * ((100vw - 320px) / (1920 - 320)));
  }
}

.purple {
  font-weight: 700;
  font-size: 32px;
  font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (1920 - 320)));
  line-height: 38px;
  font-family: "Exo", sans-serif;
  color: #ff238b;
}

@media (min-width: 2560px) {
  .purple {
    font-size: calc(20px + (38 - 20) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
  }
}

.blue {
  color: #48d7f6;
}

.header__bg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-top: -5%;
}

.header__inner {
  margin-top: -10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 500px) {
  .header__bg {
    margin-top: 0;
  }
  .logo {
    margin-top: 100px;
  }
}

.center {
  padding-bottom: 120px;
}

.tasks {
  padding-top: 180px;
  margin-bottom: 120px;
}

.tasks__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__title {
  text-align: center;
}

.form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  border-radius: 15px;
  padding: 15px;
  border-width: 0;
}

.form-control:focus {
  border-width: 0;
}

.btn {
  padding: 15px 30px;
  background-color: #843465;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  font-size: 30px;
}

.btn:hover {
  background-color: white;
  color: #843465;
}

.desicion {
  margin-bottom: 120px;
}

.desicion__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.animanic__integration {
  position: relative;
}

.center__img {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: -5%;
  width: 175%;
  left: 46%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 500px) {
  .center__img {
    display: none;
  }
}

.animatic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  position: relative;
  z-index: 50;
}

.animatic__content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.animatic__content1 {
  border: 7px solid #48d7f6;
  border-left: none;
  border-top-right-radius: 54px;
  border-bottom-right-radius: 54px;
  padding: 60px 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00061b;
  position: relative;
  z-index: 5;
}

.video1,
.video2 {
  width: 80%;
}

.animatic__content2 {
  position: relative;
  z-index: 2;
}

.animatic__img {
  position: absolute;
  right: 0;
  top: 0;
}

.integration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  z-index: 60;
  margin-top: -5%;
}

.integration__content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.integration__content1 {
  position: relative;
  z-index: 2;
}

.integration__img {
  position: absolute;
}

.integration__content2 {
  position: relative;
  z-index: 5;
  background-color: #00061b;
  border: 7px solid #ff238b;
  border-right: none;
  border-top-left-radius: 54px;
  border-bottom-left-radius: 54px;
  padding: 60px 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.integration__list {
  width: 100%;
  margin-bottom: 40px;
}

.integration__list-text {
  padding-left: 40px;
  margin: 0;
  position: relative;
}

.integration__list-text::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  left: 15px;
  top: 15px;
}

@media (max-width: 1440px) {
  .animatic__content1 {
    padding: 60px 30px;
  }
  .integration__img {
    left: -25%;
    top: -3%;
  }
  .integration__content2 {
    padding: 60px 30px;
  }
  .integration__content {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .video1,
  .video2 {
    width: 80%;
    height: auto;
  }
  .center__img {
    top: 0;
  }
}

@media (max-width: 1340px) {
  .animatic__content,
  .integration__content {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .animatic__content1,
  .integration__content2 {
    width: 60%;
  }
  .animatic__content2,
  .integration__content1 {
    width: 40%;
  }
  .integration__img {
    left: -50%;
  }
}

@media (max-width: 500px) and (max-width: 500px) {
  .animatic__content1 {
    border: 7px solid #48d7f6;
    border-left: auto;
    border-radius: 54px;
    padding: 15px 20px;
    width: 100%;
  }
  .animatic__title {
    text-align: center;
    margin-bottom: 20px;
  }
  .integration {
    margin-top: 40px;
  }
  .integration__content2 {
    border: 7px solid #ff238b;
    border-right: auto;
    border-radius: 54px;
    padding: 15px 20px;
    width: 100%;
  }
  .integration__title {
    text-align: center;
    margin-bottom: 20px;
  }
}

.result {
  padding-bottom: 120px;
}

.result__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result__text {
  margin-bottom: 60px;
}

.result__graphic {
  margin-bottom: 60px;
  width: 100%;
}

.result__graphic-img {
  padding-bottom: 20px;
  width: 100%;
}

@media (max-width: 1440px) {
  .result__graphic {
    overflow-x: scroll;
  }
  .result__graphic-img {
    width: auto;
  }
}

.result__list-text {
  padding-left: 100px;
  margin: 0;
  position: relative;
}

.result__list-text::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  left: 65px;
  top: 15px;
}

.opinion {
  padding-bottom: 120px;
}

.opinion__bg {
  margin-top: -15%;
  width: 100%;
}

.client {
  margin-top: -15%;
}

.client__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.client__title {
  text-align: right;
}

.client__text {
  text-align: right;
}

.footer {
  background-image: url(../images/footer/footer__bg.png);
  background-size: cover;
  background-position-x: center;
  padding-bottom: 50%;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  margin-bottom: 40px;
  text-align: center;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__item {
  max-width: 372px;
  max-height: 120px;
  background-color: #99175e;
  border: 7px solid #ea2180;
  border-radius: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-right: 20px;
  margin-bottom: 40px;
  opacity: 0.92;
}

.team__item-img {
  margin-right: 12px;
}

.team__item-title {
  margin: 0;
  color: white;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.team__item-text {
  margin: 0;
  color: white;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.team__bottom {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.team__item-bottom {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  background-color: #3386a4;
  border: 7px solid #44cdeb;
  opacity: 0.92;
}

@media (max-width: 1440px) {
  .team__item {
    -ms-flex-preferred-size: 28%;
        flex-basis: 28%;
  }
}

@media (max-width: 500px) {
  .footer {
    background-image: none;
  }
  .team__item {
    max-width: none;
    max-height: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-right: 20px;
    margin-bottom: 40px;
    opacity: 1;
  }
  .team__item-img {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .team__item-title {
    text-align: center;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .team__item-text {
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 14px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  background-color: #143861;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #843465;
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
          box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}
